.bloc_orientation {
  height: 20em;
  margin-left: auto;
  margin-right: auto;
}

.bloc_orientation label {
  cursor: pointer;
}

.maison img {
  height: 55%;
  margin-top: 6%;
}

.button {
  width: 35em;
  height: 15%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

#ouest {
  position: absolute;
  display: none;
  z-index: 5;
}

#Sud_ouest {
  position: absolute;
  display: none;
  z-index: 4;
}

#est {
  position: absolute;
  display: none;
  z-index: 3;
}

#Sud_est {
  position: absolute;
  display: none;
  z-index: 2;
}

#Sud {
  position: absolute;
  z-index: 3;
}

.button_ouest {
  background-color: #1D428A;
  border: none;
  border-radius: 5%;
  width: 4em;
  height: 2em;
  color: white;
  margin-right: 1em;
  cursor: pointer;
}

.button_ouest:hover {
  transform: scale(1.1);
  background-color: #fF671F;
}

.button_est {
  background-color: #1D428A;
  border: none;
  border-radius: 5%;
  width: 4em;
  height: 2em;
  color: white;
  margin-right: 1em;
}

.button_est:hover {
  transform: scale(1.1);
  background-color: #fF671F;
}

.button_Sud {
  background-color: #1D428A;
  border: none;
  border-radius: 5%;
  width: 4em;
  height: 2em;
  color: white;
  margin-right: 1em;
}

.button_Sud:hover {
  transform: scale(1.1);
  background-color: #fF671F;
}

.button_Sud_ouest {
  background-color: #1D428A;
  border: none;
  border-radius: 5%;
  width: 6em;
  height: 2em;
  color: white;
  margin-right: 1em;
}

.button_Sud_ouest:hover {
  transform: scale(1.1);
  background-color: #fF671F;
}

.button_Sud_est {
  background-color: #1D428A;
  border: none;
  border-radius: 5%;
  width: 5em;
  height: 2em;
  color: white;
  margin-right: 1em;
}

.button_Sud_est:hover {
  transform: scale(1.1);
  background-color: #fF671F;
}
