

/* positionnements et relations descriptions */

#Zone1 {
    
    z-index: 2;
    top: 8em;
    left: 5em;
}

#Zone2 {
    
    z-index: 2;
    top: 12em;
    left: 5em;
}

#Zone3 {
    
    z-index: 2;
    top: 15em;
    left: 5em;
}

#Zone4 {
    
    z-index: 2;
    top: 17em;
    left: 7em;
}
