

/* positionnements et relations descriptions */

#Zone1 {
    
    z-index: 2;
    top: -14em;
    left: 5em;
}

#Zone2 {
    
    z-index: 2;
    top: -11em;
    left: 2em;
}

#Zone3 {
    
    z-index: 2;
    top: -9em;
    left: 4em;
}

#Zone4 {
    
    z-index: 2;
    top: -8em;
    left: 8em;
}
