/**contient le carre**/
#orientation1 {
  background-color: #FF671F;
  transform: rotate(45deg);
  width: 5em;
  height: 5em;
  position: relative;
}

/**bloc pour aligner les objets**/
.bloc_orientation {
  display: flex;
  flex-direction: column;
  height: 17em;
  margin-top: auto;
  margin-bottom: auto;
}

.bloc_orientation button {
  background-color: #1D428A;
  border-color: #1D428A;
}

.bloc_orientation button:hover {
  background-color: #FF671F;
  border-color: #FF671F;
}

.container_orientation button {
  height: 50%;
}

/**container pour place les objets**/
.container_orientation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

/**container pour placer le boutton du bas**/
.container_button {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

/**contient un triangle**/
#orientation_est {
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-width: 58px 57px 56px 0;
  border-color: transparent #1D428A transparent transparent;
  padding-left: 0;
  left: 45.7%;
  top: 7.9%;
  display: none;
  animation-name: flipInY;
  animation-duration: 1s;
}

/****animation pour l'entree des directions****/
@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

#orientation_sud {
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-width: 57px 57px 0 57px;
  border-color: #1D428A transparent transparent transparent;
  padding-bottom: 0;
  top: 29.1%;
  right: 43%;
  display: none;
  animation-name: flipInY;
  animation-duration: 1s;
}

#orientation_ouest {
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-width: 57px 0 57px 57px;
  border-color: transparent transparent transparent #1D428A;
  padding-right: 0;
  right: 43%;
  top: 8%;
  display: none;
  animation-name: flipInY;
  animation-duration: 1s;
}

/**MEDIA QUERIES POUR TABLETTE**/
@media (max-width: 1024px){
  #orientation_est {
    left: 44.2%;
    top: 7.9%;
  }

  #orientation_ouest {
    right: 40.7%;
  }

  #orientation_sud {
    right: 35%;
    right: 40.7%;
  }
}
